/**GLOBAL **/

* {box-sizing: border-box;}
html {font-size: 62.5%;}
body {
    display: grid;
    grid-template-areas: "header header header header aside article article article footer footer footer footer";
    font-family: 'Open Sans', sans-serif;
	font-size: 1.8rem;
	line-height: 2;
	margin: 0;
	color: #000000;
}
h1 {font-family: 'Lobster', cursive;}
h2 {font-family: 'Orelega One', cursive;}
a {text-decoration: none;}
img {max-width: 100%;}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
ul {
	padding : 0;
	list-style: none;
}

/**GLOBAL**/

header {
    grid-area: header;
    background-image: url(../img/motivation.png);
    background-repeat: no-repeat;
    background-position: 580px;
    background-size: 80px;
    text-align: center;
    margin-left: 5px;
    padding: 1px;
}

article img {
    width: 270px;
    height: 180px;
}

div {
    display: flex;
}

aside {
    grid-area: aside;
}

article {
    grid-area: article;
    width: 260px;
    margin-right: 20px;
}

p {
    font-family: 'Bebas Neue', cursive;
}

footer {
    grid-area: footer;
}